/* line 5, ../../../../.rvm/gems/ruby-2.1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 17, ../sass/style.scss */
body {
  font-size: 62.5%;
  text-align: center;
  font-family: 'Play', sans-serif;
}

/* line 23, ../sass/style.scss */
.hero {
  max-width: 100%;
  min-height: 35em;
  margin: 0 auto;
  background: url("/images/find-an-agent-hero.png") center no-repeat;
  background-size: cover;
  color: white;
}
/* line 31, ../sass/style.scss */
.hero header img {
  width: 8em;
  float: left;
  margin: 1em 1em;
}
/* line 36, ../sass/style.scss */
.hero header ul {
  float: right;
}
/* line 38, ../sass/style.scss */
.hero header ul li {
  float: left;
  margin: 1em 1em;
  padding: 1em;
  border: 1px solid transparent;
  border-radius: 2px;
}
/* line 44, ../sass/style.scss */
.hero header ul li:last-child {
  border: 1px solid white;
}
/* line 4, ../sass/style.scss */
.hero header:after {
  content: "";
  display: table;
  clear: both;
}
/* line 51, ../sass/style.scss */
.hero h1 {
  font-size: 4em;
  padding: 1em 0 .5em 0;
}
/* line 55, ../sass/style.scss */
.hero h2 {
  font-size: 2em;
}
/* line 58, ../sass/style.scss */
.hero form {
  padding: 2em 0 4em 0;
}
/* line 60, ../sass/style.scss */
.hero form input[type="text"] {
  padding: 1em;
  border: 0;
  border-radius: 2px 0 0 2px;
  background-color: #efefef;
  opacity: .3;
  width: 200px;
}
/* line 68, ../sass/style.scss */
.hero form input[type="button"] {
  padding: 1em;
  width: 6em;
  border: 0;
  border-radius: 0 2px 2px 0;
  background-color: #6cdcac;
  color: white;
  text-transform: uppercase;
}

/* line 80, ../sass/style.scss */
.numbers {
  width: 80%;
  margin: 0 auto;
}
/* line 83, ../sass/style.scss */
.numbers ul {
  position: relative;
  top: -4em;
  background: #efefef;
}
/* line 87, ../sass/style.scss */
.numbers ul li {
  float: left;
  width: 25%;
  box-sizing: border-box;
  border-top: 1px solid #D9DADA;
  border-bottom: 1px solid #D9DADA;
  border-left: 1px solid #D9DADA;
}
/* line 94, ../sass/style.scss */
.numbers ul li:last-child {
  border-right: 1px solid #D9DADA;
}
/* line 97, ../sass/style.scss */
.numbers ul li h2 {
  font-size: 2em;
  padding: 1em 0;
}
/* line 101, ../sass/style.scss */
.numbers ul li h3 {
  padding: 0 0 2em 0;
}
/* line 4, ../sass/style.scss */
.numbers ul:after {
  content: "";
  display: table;
  clear: both;
}

/* line 110, ../sass/style.scss */
.how-it-works h2 {
  font-size: 2em;
  text-transform: uppercase;
}
/* line 113, ../sass/style.scss */
.how-it-works h2:after {
  display: block;
  content: "";
  background-color: #91939e;
  width: 2em;
  height: .1em;
  margin: .4em auto;
}
/* line 123, ../sass/style.scss */
.how-it-works ul li {
  float: left;
  width: 33.33%;
}
/* line 126, ../sass/style.scss */
.how-it-works ul li:before {
  display: block;
  content: "";
  background: #91939e;
  width: 91%;
  height: 1px;
  position: relative;
  top: 4em;
  left: 50%;
  margin: 0 2em;
}
/* line 137, ../sass/style.scss */
.how-it-works ul li:last-child:before {
  display: none;
}
/* line 140, ../sass/style.scss */
.how-it-works ul li .number {
  font-size: 2em;
  color: #91939e;
  border: 1px solid #91939e;
  width: 1em;
  height: 1em;
  display: block;
  margin: 1em auto 2em auto;
  padding: .4em;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #efefef;
}
/* line 152, ../sass/style.scss */
.how-it-works ul li i {
  font-size: 3.6em;
}
/* line 155, ../sass/style.scss */
.how-it-works ul li .icon-clipboard {
  color: #ECA95A;
}
/* line 158, ../sass/style.scss */
.how-it-works ul li .icon-pencil {
  color: #AC9CD2;
}
/* line 161, ../sass/style.scss */
.how-it-works ul li .icon-users {
  color: #4D99CB;
}
/* line 164, ../sass/style.scss */
.how-it-works ul li h3 {
  font-size: 1.5em;
  padding: 1em 0;
}
/* line 168, ../sass/style.scss */
.how-it-works ul li p {
  padding: 0 0 2em 0;
  margin: 0 5em;
  line-height: 1.5;
  color: #91939e;
}
